default: &default
 adapter: mysql2
 encoding: utf8mb4
 pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
 username: user_001
 password: '@asFay4563'
 socket: /var/run/mysqld/mysqld.sock
development:
 <<: *default
 database: smar_app_development
test:
 <<: *default
 database: smar_app_test
production:
 <<: *default
 database: smar_app_production
#  username: smar_app
#  password: <%= ENV['SMAR_APP_DATABASE_PASSWORD'] %>
